# Database
POSTGRES_USER=thelaim
POSTGRES_PASSWORD=change_me_in_production
POSTGRES_DB=thelaim

# Backend
SECRET_KEY=change_me_in_production
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=
SMTP_PASSWORD=
NOTIFICATION_EMAIL=info@thelaim.co.kr
