# Database
POSTGRES_USER=thelaim
POSTGRES_PASSWORD=<REPLACE_ME>
POSTGRES_DB=thelaim
DATABASE_URL=postgresql://thelaim:<REPLACE_ME>@db:5432/thelaim

# Backend
SECRET_KEY=<REPLACE_ME_WITH_RANDOM_STRING>
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=
SMTP_PASSWORD=
NOTIFICATION_EMAIL=info@thelaim.co.kr
